# These files and directories will be ignored by Docker when building the image.
README.md
Makefile
*.md
.gitignore
.git/
logs/
docker/
.vscode/
node_modules/
# src/
# *.ts
# *.tsx
# tsconfig.json
*.log